//风格主题色
$fff: rgb(255, 255, 255); //背景色
$gary:#c0c4cc;

// 色值  字体色、背景色、边框色
$colors: ("fff": $fff,
  "gary": $gary,
);

@each $key,
$val in $colors {
  .fc-#{$key} {
    color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }

  .bdc-#{$key} {
    border-color: $val;
  }
}